<%- contentFor('body') %>

    <main role="main">
        <section class="text-center bg-light">
            <div class="container py-5">
                <img src="https://thumbs.gfycat.com/IdenticalHelpfulGnat-max-1mb.gif" height="350px">
                <h1>May</h1>
                <p class="lead text-muted">喜歡貓貓的工程師</p>
                <br>
                <figure class="text-center">
                    <blockquote class="blockquote">
                      <p>A well-known quote, contained in a blockquote element.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                      Someone famous in <cite title="Source Title">Source Title</cite>
                    </figcaption>
                  </figure>
            </div>
        </section>
    </main>