<footer class="text-muted">
    <div class="container py-5">
        <p class="float-start">Copyright &copy; 2023 May He Inc.</p>
        <p class="float-end"> <a href="/">Home</a></p>
    </div>
</footer>